.manifold-default{
	position: absolute;
	z-index: 1;
}
.manifold-fullsize{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.manifold-attach-top{
	top: 0;
}
.manifold-attach-bottom{
	bottom: 0;
}
.manifold-attach-left{
	left: 0;
}
.manifold-attach-right{
	right: 0;
}
.manifold-scrollbox {
	overflow: auto;
}